<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"/>

    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front.autofocus" android:required="false"/>

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ReHabParkinson"
        tools:targetApi="31">

        <!-- Splash como pantalla inicial -->
        <activity android:name=".SplashActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity sin intent-filter -->
        <activity android:name=".MainActivity" android:exported="true"
            android:theme="@style/Theme.ReHabParkinson" />

        <activity android:name=".IndicacionesActivity" android:exported="true" />
        <activity android:name=".ExerciseCameraActivity" android:exported="false" />
        <activity android:name=".LoginActivity" android:exported="true" />
        <activity android:name=".terapiaLumbarActivity" android:exported="false" />
        <activity android:name=".TerapiaCervicalActivity" android:exported="false" />
        <activity android:name=".terapia_cl01" android:exported="false" />
        <activity android:name=".terapia_ec03" android:exported="false" />
        <activity android:name=".terapia_ec05" android:exported="false" />
        <activity android:name=".VideoCaptureActivity" android:exported="false" />
        <activity android:name=".PerfilActivity" android:exported="false" />
        <activity android:name=".VideoSelectorActivity" />

    </application>
</manifest>
